body{
    background-color: aqua;
    margin: 0 auto;
}
h1{
    color: black;
    text-align: center;
    font-size: 77px;
    font-family:monospace;
    font-style: italic;
}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
form{
width: 200px;    
}
input{
    border: none;
    padding: 10px;
    border-radius: 12px;
}
form p{
    display: flex;
    flex-direction: column;
}
input[type=submit]{
    color: white;
    background-color: black;
    font-size: 16px;
    font-style: italic;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 20px;
}
a{
    color: white;
    background-color: black;
    font-size: 16px;
    font-style: italic;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}
table{
    border: 1px solid black;
    outline: none;

}
th{
    font-size: 20px;
    /* border: 1px solid black; */
}
td{
    font-size: 13px;
    border: 1px solid black;   
    /* padding: 14px 8px; */
}
.action{
    display: flex;
    
}


@media only screen and (max-width: 600px) {
    form{
      margin-bottom: 20px;
    }
    h1{
        font-size: 42px;
    }
    .cs form{
        margin: 0 auto;
    }
}

